<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>lib_search_test</title>
</head>
<body>
<form action="/lib_search_test" method="post">
  <input type="hidden" name="form_num" value=1 id="search">
  <input type="hidden" name="search_id" th:value=${info.getId()}>
  <input type="text" name="post_info" th:value="${info.getText()}">
</form>
<!--result-->
<!--table-->
<!--Attention!${}}}}}}}}-->
<tr th:each="book,status : ${info.getBooks()}">
  <th:block th:if="${status.first}">
    <form action="/lib_search_test" method="post">
      <input type="hidden" name="form_num" value=2 id="order">
      <input type="hidden" name="search_id" th:value=${info.getId()}>
      <select name="order">
        <option value=1 selected>order1</option>
        <option value=2>order2</option>
      </select>
      <button>order change</button>
    </form>
    size [[${info.getBooks().size()}]]<br />
  </th:block>
  <td>[[${book.getBookName()}]]</td>
  <td>[[${book.getAuthor()}]]</td>
  <td>[[${book.getItemPrice()}]]</td>
  <a th:href="@{'https://bookget.net/search?q='+${book.getIsbnNum()}}" target="_blank">
    link
  </a>
  <form action="/tosyo_search_test" method="post" target="_blank">
    <input type="hidden" name="isbnNum" th:value=${book.getIsbnNum()}>
    <input type="hidden" name="form_num" value=1>
    <button>tosyo_search</button>
  </form>
  <br />
  <th:block th:if="${status.last}">
    <button form="paging" name="page" value=1>&lt;&lt;</button>
    <th:block th:each="page : ${pagelist}">
      <button form="paging" name="page" th:value=${page}>[[${page}]]</button>
    </th:block>
    <button form="paging" name="page" value=2>&gt;&gt;</button>
    <form action="/lib_search_test" method="post" id="paging">
      <input type="hidden" name="form_num" value=3>
      <input type="hidden" name="search_id" th:value=${info.getId()}>
    </form>
  </th:block>
</tr>
<!--/table-->
</body>
</html>