<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="test" method="post" id="form1">
  <input type="text" name="parameter['author']" th:value="${parameter.get('author')==null?'':parameter.get('author')}">
  <input type="text" name="parameter['title']">
  <select name="parameter['order']" required>
    <option value="order1">1</option>
    <option value="order2">2</option>
    <option value="order3">3</option>
    <option value="order4">4</option>
  </select>
  <button>submit</button>
</form>
<!--
  <input type="checkbox" name=check[] value=1 form="form1">
  <input type="checkbox" name=check[] value=2 form="form1">
  <input type="checkbox" name=check[] value=3 form="form1">
  <input type="checkbox" name=check[] value=4 form="form1">
  <input type="checkbox" name=check[] value=5 form="form1">
  -->
</body>
</html>